<div class="about-local">
  <div class="container">
    <h2 class="about-local-heading">About Hopkins<strong class="local-heading-emphasis">Local</strong></h2>

    <div class="about-local-content">
      {{ option.block_content }}
    </div>
    <p><a class="about-local-link" id="js-show-about-more" href="#about">{{ option.block_link_text }}</a></p>
  </div>
</div>
