<div class="site-footer">
  <div class="site-footer-canister">
    <div class="site-footer-contact">
      <p class="contact-01">
        Johns Hopkins <br>University<br>
            3400 N. Charles St.<br>
            Baltimore, MD 21218
      </p>

      <p class="contact-02">
        Johns Hopkins<br>Health System<br>
        600 N. Wolfe St.<br>
        Baltimore, MD 21287
      </p>
    </div>
    <!-- /.site-footer-contact -->

    <div class="site-footer-seal">
      <a class="footer-logo" href="/" title="Johns Hopkins University &amp; Health System">Johns Hopkins University &amp; Health System</a>

      <a class="footer-link" href="mailto:hopkinslocal@jhu.edu" title="Email the HopkinsLocal Program">Email HopkinsLocal</a>
    </div>


  </div>
</div>
<!-- /.site-footer -->





<div id="about" class="page-overlay">
  <div class="page-overlay-canister">
    <div class="page-overlay-content">
      <div class="hopkins-local overlay-hopkins-local">
        <p class="overlay-hopkins-local-prefix">About</p>
        <p class="overlay-hopkins-local-mark" id="js-overlay-mark">
          Hopkins<strong class="overlay-hopkins-local-emphasis">Local
            <span class="overlay-hopkins-local-tagline" style="display: block; font-size: .359em; text-align: right; ">Build. Hire. Buy.</span>
          </strong>
        </p>

      </div>
      {{ option.overlay_content }}
    </div>

    <button id="js-close-about" class="page-overlay-close">Close</button>
  </div>
</div>
