$breakpoint-no-query-fallbacks: true;

@import "../../bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";



$default-font-family: gentona, 'proxima nova', 'Helvetica Neue', Helvetica, arial, sans-serif;
$default-selection-background-color: #2a455c;
$default-underline-color: #2a455c;
$heading-font-family: quadon, $default-font-family;





$z-bottom: -1;
$z-base: 1;
$z-content: 5;
$z-modal: 100;





$vs: 4px;





$bp-1: 48em, 'no-query' '.lt-ie9';





$fz-giga: 99px;
$fz-mega: 48px;
$fz-kilo: 37px;
$fz-hecto: 32px;
$fz-deca: 24px;
$fz-dec: 20px;
$fz: 16px;
$fz-deci: 14px;
$fz-centi: 12px;

$lh-base: 1;
$lh-wide: 1.5;
$lh-thin: 1.25;


$fw-quadon-h: 900;
$fw-quadon-bl: 800;
$fw-quadon-eb: 700;
$fw-quadon-ub: 600;
$fw-quadon-b: 500;
$fw-quadon-n: 400;
$fw-quadon-l: 200;
$fw-quadon-t: 100;


$fw-gentona-bold: 700;
$fw-gentona-medium: 500;
$fw-gentona-n: 400;
$fw-gentona-l: 300;
$fw-gentona-xl: 200;
$fw-gentona-t: 100;





$black: #000;
$blue-cornflower: #68ace5;
$blue-curious: #3b8ede;
$blue-jacarta: #34276d;
$blue-rhino: #2a455c;
$blue-steel: #4A82B3;
$green-chalet: #44693d;
$green-cucumber: #74aa50;
$green-half-baked: #86c8bc;
$green-persian: #00ab8e;
$grey-ebb: #e5e2e0;
$grey-gravel: #4a484c;
$red-heath: #531c10;
$red-roughy: #cf4520;
$white: #fff;
$yellow-goldenrod: #fbd872;
$yellow-supernova: #ffcd00;

$browser-upgrade-co: $black;
$browser-upgrade-bg: $yellow-supernova;





//
// @TODO: Add docs to _animate!
//
@mixin _animate {
  transition: all .5s ease-in-out;
}


//
// @TODO: Add docs to _animate!
//
@mixin _animate-hover {
  transition-duration: .15s;
}


//
// @TODO: Add docs to _animate!
//
@mixin _animate-news {
  transition: max-height 350ms ease-in-out,
              padding 500ms ease-in-out;
}


//
// @TODO: Add docs to _animate!
//
@mixin _animate-news-hover {
  transition-duration: 500ms, 350ms;
}





//
// @TODO: Add docs to _ir!
//
@mixin _ir($w: null, $h: null) {
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 150%;
  }

  @if type-of($w) == 'number' {
    width: $w*1px;
  }
  @if type-of($h) == 'number' {
    height: $h*1px;
  }
}




//
// @TODO: Add docs to _vh!
//
@mixin _vh {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}



//
// @TODO: Add docs to fancy-underline!
//
@mixin _fancy-underline($weight: 1px ,$underline: $default-underline-color, $background: white) {
  background-image: linear-gradient(
  rgba($default-underline-color, 0.25) 0%,
  $default-underline-color 100%
  );
  background-repeat: repeat-x;
  background-position: 0 95%;
  background-size: $weight $weight;
  // Clear descendors from underline
  text-shadow: 3px 0 $background,
  2px 0 $background,
  1px 0 $background,
  -1px 0 $background,
  -2px 0 $background,
  -3px 0 $background;

  // Tweak position + thickness for high res (1.75x and up) displays
  @include breakpoint(-webkit-min-device-pixel-ratio 1.75, min-resolution 168dpi) {
    background-image: linear-gradient(rgba($default-underline-color, 0.25) 0%, $default-underline-color 100%);
    background-position: 0 93%;
  }
}





//
// @TODO: Add docs to _cms!
//
@mixin _cms {
  > * + * {
    margin-top: .5em;
  }
  > img,
  > video,
  > audio,
  > iframe {
    max-width: 100%;
    height: auto;
  }
  a:link,
  a:active,
  a:visited {
    text-decoration: underline;
  }
}





//
// @TODO: Add docs to _container!
//
@mixin _container {
  overflow: hidden;
  max-width: 1320px;
  padding-right: percentage(51/1320);
  padding-left: percentage(51/1320);
  margin: 0 auto;
}





// bower:scss
@import 'bower_components/sanitize-css/sanitize.scss';





/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; z-index:9999; top:0; left:0; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;

 -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{ display:block;float:left; max-width:none; margin:auto; -ms-interpolation-mode:bicubic; border:0;}
.cboxIframe{ display:block;width:100%; height:100%; padding:0; margin:0; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{ -webkit-box-sizing:content-box; -moz-box-sizing:content-box;box-sizing:content-box;}

#cboxOverlay {
  background-color: #000;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
  -ms-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}

body {
  background: $white;
}





::selection {
  color: $white;
  background-color: $default-selection-background-color; // required when declaring ::selection
  text-shadow: none;
}



.icon-play-md {
  display: inline-block;
  width: 21px;
  height: 22px;
  background: url('../images/icon-play.svg') center center no-repeat;

  .lt-ie9 & {
    background-image: url('../images/icon-play.png');
  }
}




html,
body {
  font-family: $default-font-family;
}




a:link,
a:active,
a:visited {
  text-decoration: none;
}



input,
select {
    border: 1px solid $blue-rhino;
}

[type="submit"] {
    padding: $vs*4;
    color: $white;
    background-color: $blue-rhino;
}





.container {
  @include _container;
}





.browser-upgrade {
  padding: 1em 0 1.2em;
  font-size: $fz-deca;
  color: #000;
  background: $white;
}


.browser-upgrade-link {
  &:link,
  &:active,
  &:visited {
    @include _fancy-underline($weight: 2px, $background: rgba($browser-upgrade-bg, 1));

    display: inline-block;
    background-repeat: no-repeat;
    background-position: center 95%;
    background-size: 0 0;
    transition: all 0.2s ease-in;
  }
  &:hover,
  &:focus {
    background-size: 100% 2px;
  }
}





.masthead {
  overflow: hidden;
  margin: 0 auto;

}

.lt-ie8 .masthead {
  zoom: 1;

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
}


.masthead-brand {
  text-align: center;

  @include breakpoint($bp-1) {
    float: left;
    padding-left: 51px; // @NOTE magic number, from logo
    margin-left: -51px;
  }
}



.masthead-brand-interior {
  margin: 0 auto;
  text-align: center;

  @include breakpoint($bp-1) {
    float: left;
    width: 586px; // 341+245
    padding-left: 51px; // @NOTE magic number, from logo
    margin-left: -51px;
    text-align: left;
  }
}

.lt-ie8 .masthead-brand-interior {
  width: 600px;
  padding-left: 0;
  margin-left: 0;
}


.masthead-logo {
  @include _ir;

  display: block;
  width: 341px;
  height: 151px;
  margin: 0 auto;
  background: transparent url('../images/jhu-enterprise-logo-black.svg') center center no-repeat;

  @include breakpoint($bp-1) {
    float: left;
    margin-left: -51px;
  }

  .lt-ie9 & {
    float: left;
    margin-left: 0;
    text-indent: -9999px;
    background-image: url('../images/jhu-enterprise-logo-black.png')
  }
}


.masthead-property {
  display: block;
  position: relative;
  font-family: $heading-font-family;
  font-size: $fz-hecto;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  color: $white;

  @include breakpoint($bp-1) {
    float: left;
    width: 245px;
    padding-top: 56px;
    padding-left: 48px;
  }

  .lt-ie8 & {
    float: left;
    width: 245px;
    padding: 56px 0 0;
    margin: 0;
  }
}


.masthead-property:before {
  @include breakpoint($bp-1) {
    content: '';
    position: absolute;
    top: 51px;
    left: 0;
    width: 1px;
    height: 51px;
    background: $white;
  }
}


.t-hire .masthead-property,
.t-build .masthead-property,
.t-buy .masthead-property {
  color: #000;
}

.t-hire .masthead-property:before,
.t-build .masthead-property:before,
.t-buy .masthead-property:before {
  background: $black
}





.masthead-menu {
  overflow: hidden;
}


.masthead-nav {
  font-weight: $fw-gentona-bold;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;

  @include breakpoint($bp-1) {
    padding-top: $vs*14; // @NOTE magic number. (151-24)/2
    text-align: right;
  }
}


.masthead-nav-item {
  display: inline-block;

  & + & {
    @include breakpoint($bp-1) {
      margin-left: $vs*3;
    }
  }
}

.lt-ie8 .masthead-nav-item {
  display: inline;
}


.masthead-nav-link {
  display: block;
  padding: $vs;

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: $black;
  }
  &:hover,
  &:focus {
    color: $yellow-supernova
  }
  .masthead-nav--blocal & {
    &:link,
    &:active,
    &:visited {
      color: $white;
    }
    &:hover,
    &:focus {
      color: $yellow-supernova;
    }
  }
}


.masthead-nav-link.is-active,
.masthead-nav-link.current-menu-item {
  color: $black;
}


.t-homepage .masthead-nav-link {
  color: $black;
}

.t-homepage .masthead-nav-link:hover,
.t-homepage .masthead-nav-link:focus {
  color: $blue-curious;
}


.t-hire .masthead-nav-link.is-active,
.t-hire .masthead-nav-link.current-menu-item,
.t-build .masthead-nav-link.current-menu-item,
.t-buy .masthead-nav-link.current-menu-item {
  color: $white;
}






.page-hero {
  padding-bottom: 18*$vs;
  color: $grey-ebb;
  background: $yellow-supernova url('../images/hopkins-local-pattern-orange-on-academic-gold.png') center center repeat;
  background-attachment: fixed;
  background-size: 500px;
}

.lt-ie9 .page-hero {
  overflow: hidden;
}


.t-build .page-hero {
  background-color: $red-roughy;
  background-image: url("../images/hopkins-local-pattern-white-on-burnt-orange.png");
  background-size: 500px;
}

.t-hire .page-hero {
  color: $black;
  background-color: $green-half-baked;
  background-image: url("../images/hopkins-local-pattern-white-on-copper-petina.png");
  background-size: 500px;
}


.t-buy .page-hero {
  background-color: $green-cucumber;
  background-image: url("../images/hopkins-local-pattern-white-on-oak-leaves.png");
  background-size: 500px;
}


.page-hero--blocal {
  background-color: $blue-steel;
  background-image: url('../images/blocal-pattern.jpg');
  background-size: 50%;

  @include breakpoint($bp-1) {
    padding-bottom: 48px;
  }
}




.hopkins-local {
  display: block;
  position: relative;
  clear: both;
  padding-top: 72px;
  padding-right: 6.3218390805%;
  padding-bottom: 72px;
  padding-left: 6.3218390805%;
  font-family: $heading-font-family;
  font-style: normal;
  line-height: $lh-base;
  text-transform: uppercase;
}

.lt-ie8 .hopkins-local {
  float: left;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}


.overlay-hopkins-local {
  padding-right: 0;
  padding-left: 0;
}


.about-local-heading {
  font-family: $heading-font-family;
  font-weight: 300;
  line-height: $lh-base;
  text-transform: uppercase;
  color: $black;
}


.hopkins-local-mark {
  display: inline-block;
  width: 100%;
  font-size: 37px;
  font-weight: 300;
  text-align: center;
  color: $black;

  @include breakpoint($bp-1) {
    font-size: 99px;
  }
}


.overlay-hopkins-local-mark {
  font-size: 37px;
  font-weight: $fw-quadon-l;
  text-align: center;

  @include breakpoint($bp-1) {
    font-size: 99px;
  }
}


.hopkins-local-emphasis {
  font-style: normal;
  color: $blue-curious;
}

.t-build .hopkins-local-emphasis {
  color: $black;
}

.t-hire .hopkins-local-emphasis {
  color: $black;
}

.t-buy .hopkins-local-emphasis {
  color: $black;
}

.overlay-hopkins-local-emphasis {
  color: $black;
}

.local-heading-emphasis {
  color: $blue-cornflower
}


.hopkins-local-tagline {
  display: block;
  font-family: $default-font-family;
  font-size: 14px;
  font-weight: $fw-gentona-medium;
  text-align: right;
  letter-spacing: .1em;
  color: $black;

  @include breakpoint($bp-1) {
    // font-size: $fz-kilo;
    font-size: 36px;
    letter-spacing: .1em;
  }

  .lt-ie9 & {
    text-align: center;
  }
}


.overlay-hopkins-local-tagline {
  display: block;
  font-family: $default-font-family;
  font-size: 30px;
  font-weight: $fw-gentona-medium;
  text-align: right;
  letter-spacing: .1em;
  color: $black;

  .lt-ie9 & {
    text-align: center;
  }
}


.overlay-hopkins-local-prefix {
  font-family: $default-font-family;
  text-transform: capitalize;
  color: $black;
}





.page-intro {
  padding-top: 32px;
  margin-bottom: 32px;

  @include breakpoint($bp-1) {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin: 32px 6.3218390805% 64px;
  }
}

.page-intro--blocal {
    @include breakpoint($bp-1) {
        margin-top: 48px;
    }
}


.page-intro-heading {
  margin-bottom: .25em;
  font-family: $heading-font-family;
  font-size: 48px;
  font-weight: $fw-quadon-n;
  line-height: $lh-base;

  @include breakpoint($bp-1) {
    font-size: $fz-mega;
  }
}

.page-intro-heading strong {
  font-weight: 500;
}


.page-intro-content {
  @include _cms;

  font-size: 20px;
  font-size: 1.25rem;
  color: $grey-gravel;

  @include breakpoint($bp-1) {
    float: left;
    width: 58.5205992509%;
  }

  h3 {
    font-size: 24px;
    font-weight: $fw-gentona-bold;
    line-height: $lh-thin;
  }
  .page-intro--blocal & {
    font-family: $heading-font-family;
    font-weight: $fw-quadon-b;
    color: $blue-rhino;
  }
}

.page-intro-video {
  margin-top: 16px;
}

@include breakpoint($bp-1) {
  .page-intro-video {
    float: right;
    width: 31.8352059925%;
    margin-top: 0;
  }
}


.page-intro-videolink {
  @include _animate;

  display: block;
  position: relative;
  overflow: hidden;
  padding: 2*$vs;
  background: $grey-ebb;

  &:hover,
  &:focus {
    @include _animate-hover;

    color: $white;
    border-color: $blue-rhino;
    background-color: $blue-rhino;
  }
}

.page-intro-videolink-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-intro-videolink-text {
  display: block;
  padding-top: $vs;
  font-family: $heading-font-family;
  font-size: $fz-deci;
  font-weight: $fw-quadon-b;
  line-height: $lh-base;
  text-align: center;
}





.content-blocks {
  overflow: hidden;
  border-top: 10px solid #005db9;

  @include breakpoint($bp-1) {
    position: relative;

  }
}

.content-blocks-header {
  padding: 0 2*$vs 2*$vs;
  text-transform: uppercase;
  color: #fff;
  background-color: #005db9;

  @include breakpoint($bp-1) {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 9.5%;
    font-size: 32px;
    font-size: 2rem;
  }
}

.content-blocks-columns-1 {
  background: $blue-rhino;

  @include breakpoint($bp-1) {
    float: left;
    width: percentage(594/1218);
    margin: 0;
  }
}

.content-blocks-columns-1 + .content-blocks-columns-1 {
    @include breakpoint($bp-1) {
        width: percentage(624/1218);
    }
}

.content-blocks-columns-2 {
  background: $blue-rhino;

  @include breakpoint($bp-1) {
    float: left;
    width: percentage(312/1218);
  }
}



.block-stack {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  background-size: cover;

  &:hover,
  &:focus {
    @include _animate-hover;

    .block-stack-heading {
      max-height: 75%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &:after {
    @include _animate;

    content: '';
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%;
    background: url('../images/icon-info.svg') center center no-repeat;

    .lt-ie9 & {
      background-image: url('../images/icon-info.png');
    }
  }
}


.content-blocks-columns-1 .block-stack {
  padding-top: 104%;
}


.content-blocks-columns-1.content-blocks-horizontal .block-stack {
    padding-top: 52%;
}

.content-blocks-columns-2.content-blocks-vertical .block-stack {
    padding-top: 198%;
}


.content-blocks-columns-2 .block-stack {
  padding-top: 99%;
}


.block-stack-heading {
  @include _animate-news;

  position: absolute;
  z-index: $z-content;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  width: 100%;
  max-height: 0;
  padding: 0 1rem;
  font-size: 18px;
  line-height: $lh-thin;
  color: $white;
  background-color: #e5e2e0;

  .block-stack:hover &,
  .block-stack:focus & {
    @include _animate-news-hover;
  }
}


.block-stack-build {
  &,
  .block-stack-heading {
    background-color: $red-roughy;
  }
}

.block-stack-hire {
  &,
  .block-stack-heading {
    background-color: $green-half-baked;
  }
}

.block-stack-buy {
  &,
  .block-stack-heading {
    background-color: $green-cucumber;
  }
}




.block-media-left {
  overflow: hidden;
  color: $black;
  background: $red-heath;

  .block-media-attach {
    @include breakpoint($bp-1) {
      float: left;
    }
  }
}


.t-home .block-media-left {
  color: $grey-ebb
}


.block-media-right {
  overflow: hidden;
  color: $grey-ebb;
  background: $blue-jacarta;

  .block-media-attach {
    @include breakpoint($bp-1) {
      float: right;
    }
  }
}


.block-media-attach {
  position: relative;

  @include breakpoint($bp-1) {
    width: 50%;
  }
}


.block-media-link {
  &:link,
  &:active,
  &:visited {
    color: $black;
  }
  &:hover,
  &:focus {
    color: $blue-jacarta
  }
}


.block-media-ratio {
  overflow: hidden;

  @include breakpoint($bp-1) {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 94%;
  }
}


.block-media-src {
  @include breakpoint($bp-1) {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }
}


.block-media-heading {
  overflow: hidden;
  padding: $vs*3 $vs*4 $vs*4;
  font-size: $fz-deci;
  line-height: $lh-thin;
}



.map {
  display: none;
  position: relative;

  @include breakpoint($bp-1) {
    display: block;
  }
}

.map-viewport {

}


.map-overlay {
  position: absolute;
  z-index: $z-content;
  top: 0;
  left: 0;
  padding-top: 18*$vs;
}

.map-overlay-canister {
  @include _container;
}


.map-overlay-heading {
  font-size: $fz-deca;
  font-weight: $fw-gentona-bold;
  line-height: $lh-thin;
}


.map-overlay-content {
  padding: 5*$vs 6*$vs;
  font-weight: $fw-gentona-bold;
  color: $grey-ebb;
  background: $blue-jacarta;

  @include breakpoint($bp-1) {
    width: percentage(552/1218);
    margin: 0 auto;
  }
}





//
// @TODO: Add docs to _focus-item!
//
@mixin _focus-item {
  padding-top: $vs;
  padding-right: $vs;
  padding-bottom: 8*$vs;
  padding-left: $vs;
  background: $white;

  @include breakpoint($bp-1) {
    display: inline-block;
    width: percentage(336/1218);
    min-height: 94*$vs;
  }
}

.focuses {
  padding-top: 8*$vs;
  padding-bottom: 8*$vs;
  background: $grey-ebb;
}


.focuses-canister {
  @include _container;
}


.focus-item-heading {
  font-size: $fz-mega;
  font-weight: $fw-gentona-bold;
  line-height: $lh-thin;
  text-align: center;
  border-top: 2*$vs solid;
}


.focus-item-content {
  overflow: hidden;
  padding: 3*$vs;
  font-size: 18px;
  font-weight: $fw-gentona-medium;
}

.focus-item-src {
  display: block;
  margin: 16px auto;
}

.focus-item-text {
  color: $black;

  @include breakpoint($bp-1) {
    min-height: 26*$vs;
  }
}

.focus-link-more {
  @include _animate;

  display: block;
  padding: 3*$vs 3*$vs 4*$vs;
  margin: 4*$vs 0;
  font-family: $heading-font-family;
  font-weight: $fw-quadon-b;
  line-height: 1;
  text-align: center;
  border: $vs solid;

  &:hover,
  &:focus {
    @include _animate-hover;
  }
}

.focus-link-option {
  @include _animate;

  display: block;
  padding: 2*$vs 3*$vs 3*$vs;
  font-size: $fz-deci;
  line-height: $lh-thin;
  border: $vs solid transparent;

  @include breakpoint($bp-1) {
    float: left;
    width: percentage(151/310);
  }

  &:hover,
  &:focus {
    @include _animate-hover;
  }
  & + & {
    margin-top: 4*$vs;

    @include breakpoint($bp-1) {
      float: right;
      margin-top: 0;
    }
  }
}


.focus-item-build {
  @include _focus-item;

  color: $red-roughy;

  @include breakpoint($bp-1) {
    margin-top: 0;
      margin-left: percentage(77/1218);
    }

  .focus-link-more {
    &:hover,
    &:focus {
      color: $white;
      border-color: $red-roughy;
      background: $red-roughy;
    }
  }
  .focus-link-option {
    color: $white;
    background: $red-roughy;

    &:hover,
    &:focus {
      color: $red-roughy;
      border-color: $red-roughy;
      background: $white;
    }
  }
}


.focus-item-hire {
  @include _focus-item;

    margin-top: 8*$vs;
  color: $green-half-baked;

  @include breakpoint($bp-1) {
    margin-top: 0;
    margin-left: percentage(26/1218);
  }

  .focus-link-more {
    &:hover,
    &:focus {
      color: $white;
      border-color: $green-half-baked;
      background: $green-half-baked;
    }
  }
  .focus-link-option {
    color: $white;
    background: $green-half-baked;

    &:hover,
    &:focus {
      color: $green-half-baked;
      border-color: $green-half-baked;
      background: $white;
    }
  }
}


.focus-item-buy {
  @include _focus-item;

  margin-top: 8*$vs;
  color: $green-cucumber;

  @include breakpoint($bp-1) {
    margin-top: 0;
    margin-left: percentage(26/1218);
  }

  .focus-link-more {
    &:hover,
    &:focus {
      color: $white;
      border-color: $green-cucumber;
      background: $green-cucumber;
    }
  }
  .focus-link-option {
    color: $white;
    background: $green-cucumber;

    &:hover,
    &:focus {
      color: $green-cucumber;
      border-color: $green-cucumber;
      background: $white;
    }
  }
}

.quote {
  overflow: hidden;
  padding: 32px 0;
  background: url("../images/hopkins-local-pattern-sparta-on-jay.png");
  background-size: 400px;
}

@include breakpoint($bp-1) {
  .quote {
    padding: 0;
  }
}

.block-quote-text {
  position: relative;
  padding-top: 16px;
  padding-right: 6.3218390805%;
  padding-bottom: 16px;
  padding-left: 12.64%;
  font-family: quadon, gentona, "proxima nova", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.25;
  color: #fff;
}

@include breakpoint($bp-1) {
  .block-quote-text {
    margin-right: 6.3218390805%;
    margin-left: 6.3218390805%;
  }
}

.block-quote-text > * + * {
  margin-top: .5em;
}

.block-quote-text > img,
.block-quote-text > video,
.block-quote-text > audio,
.block-quote-text > iframe {
  max-width: 100%;
  height: auto;
}

@include breakpoint($bp-1) {
  .block-quote-text {
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 32px;
    font-size: 2rem;
  }
}

.block-quote-text:before,
.block-quote-text > p:after {
  z-index: 1;
  line-height: 1;
  color: #005db9;
}

.block-quote-text:before {
  content: '“';
  position: absolute;
  top: 16px;
  left: 6.3218390805%;
  font-family: gentona, "proxima nova", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 144px;
  font-size: 9rem;
  font-weight: 700;
  font-style: normal;
}

.block-quote-text > p:after {
  content: '”';
  font-family: quadon, gentona, "proxima nova", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

@include breakpoint($bp-1) {
  .block-quote-text > p:after {
    font-size: 48px;
    font-size: 3rem;
  }
}

.block-quote-text > * {
  position: relative;
  z-index: 5;
}

.block-quote-sources {
  margin-top: 32px;
  font-family: gentona, "proxima nova", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;

}

@include breakpoint($bp-1) {
  .block-quote-sources {
    display: table;
    width: 100%;
  }
}

.block-quote-source {
  font-weight: 600;
  font-style: normal;
  color: #fff;
}

@include breakpoint($bp-1) {
  .block-quote-source {
    display: table-cell;
  }
}

.block-quote-source + .block-quote-source {
  margin-top: 16px;
}

@include breakpoint($bp-1) {
  .block-quote-source + .block-quote-source {
    margin-top: 0;

  }
}

.block-quote-source-position {
  display: block;
  font-weight: 400;
  color: #fff;
}

.page-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: $blue-cornflower;

  .no-opacity & {
    display: none;
  }
}

.has-overlay {
  position: relative;
  overflow: hidden;

  .page-overlay {
  @include _animate;

    z-index: 2000;
    opacity: 1;

    .no-opacity & {
      display: block;
    }
  }
}

.page-overlay-canister {
  @include _container;

  position: relative;
  padding-top: 20*$vs;
  color: $white;
}

.page-overlay-close {
  position: absolute;
  top: 8*$vs;
  right: 0;
  font-size: $fz-deca;
  font-weight: $fw-gentona-bold;
  text-align: right;

  &:before {
    content: '✖︎';
    display: inline-block;
    margin-right: 2*$vs;
    font-family: arial;
    font-size: $fz;
  }
}


.page-overlay-content {
  @include _cms;

  @include breakpoint($bp-1) {
    width: percentage(758/1218);
    padding-bottom: 20*$vs;
    margin: 0 auto;
    font-size: $fz-hecto;
    font-weight: $fw-gentona-medium;
    line-height: $lh-wide;
  }
}





.site-footer {
  overflow: hidden;
  padding-top: 10*$vs;
  padding-bottom: 10*$vs;
  background: #4A484C;
}


.site-footer-canister {
  @include _container;

  overflow: hidden;
}


.site-footer-seal {
  display: block;
  width: 341px;
  margin: 0 auto;
}





.footer-logo {
    @include _ir;

    display: block;
    width: 341px;
    height: 151px;
    background: transparent url('../images/jhu-enterprise-logo-white.svg') center center no-repeat;

    .lt-ie9 & {
      text-indent: -9999px;
      background-image: url('../images/jhu-enterprise-logo-white.png');
    }
}


.footer-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}


.site-footer-contact {
  display: table;
  width: 100%;
  font-size: $fz-centi;
  line-height: $lh-thin;
  color: $white;

  @include breakpoint($bp-1) {
    display: block;
    float: right;
    overflow: hidden;
    width: percentage(286/1218);
    padding-top: 12*$vs;
    margin: 0;
  }
}


.contact-01 {
  display: table-cell;

  @include breakpoint($bp-1) {
    float: left;
    width: 48.7096774194%;
  }
}

.contact-02 {
  display: table-cell;

  @include breakpoint($bp-1) {
    float: right;
    width: 48.7096774194%;
    margin-top: 0;
  }
}





.site-content {
  overflow: hidden;
  padding-top: 10*$vs;
  padding-bottom: 16*$vs;
  background: $white;
}


// .t-build .site-content {
//   color: $red-heath
// }


// .t-hire .site-content {
//   color: $green-persian
// }





.page-heading {
  max-width: 85%;
  margin-bottom: 4*$vs;
  font-size: $fz-kilo;
  line-height: $lh-thin;
}


.page-content {
  overflow: hidden;
  margin-bottom: 16*$vs;
}


.page-content-intro {
  max-width: 85%;
  margin-bottom: 8*$vs;
  font-size: $fz-deca;
  font-weight: $fw-gentona-medium;
  line-height: $lh-wide;
}


.goal-list-01 {
  padding-left: 30px;
  font-size: $fz;
  line-height: $lh-thin;

  @include breakpoint($bp-1) {
    float: left;
    width: 48.7096774194%;
  }

  .lt-ie9 & {
    width: 45%;
  }
}

.goal-list-02 {
  padding-left: 30px;
  margin-top: 8*$vs;
  font-size: 18px;
  line-height: 1.5;

  @include breakpoint($bp-1) {
    float: right;
    width: 48.7096774194%;
    margin-top: 0;
  }

  .lt-ie9 & {
    width: 45%;
  }

}

.goal-list-01 li + li,
.goal-list-02 li + li {
  margin-top: .5em;
}


.success-story {
  @include breakpoint($bp-1) {
    float: left;
    width: percentage(850/1218);
    margin-right: 32px;
  }
}


.success-story .block-media-left {
  background: none;
}


.success-story .block-media-attach {
  @include breakpoint($bp-1) {
    margin-right: 4*$vs;
  }
}


.success-story .block-media-ratio {
  height: auto;
  padding-top: 0;
}


.success-story .block-media-src {
  position: static;
  width: 100%;
  height: auto;
  transform: translateX(0%);
}


.success-story .block-media-type {
  font-family: $heading-font-family;
  font-size: $fz-centi;
  font-weight: $fw-quadon-eb;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: $black;
}


.success-story .block-media-heading {
  padding: 0;
  font-size: $fz;
  font-weight: 500;
  color: $black;
}


// .t-build .block-media-left {
//   color: $red-heath
// }


// .t-build .block-media-type {
//   color: $red-roughy
// }


// .t-hire .block-media-left {
//   color: $green-persian
// }


// .t-hire .block-media-type {
//   color: $green-half-baked
// }


// .t-buy .block-media-left {
//   color: $green-cucumber
// }


// .t-buy .block-media-type {
//   color: $green-chalet
// }





.page-actions {
  overflow: hidden;
  padding-top: 4*$vs;

  @include breakpoint($bp-1) {
    padding-top: 12*$vs;
  }
}


.page-actions .focus-link-option {
  @include _animate;

  display: block;
  width: 100%;
  padding: 3*$vs 3*$vs 4*$vs;
  margin: 0;
  font-family: $heading-font-family;
  font-weight: $fw-quadon-b;
  line-height: 1;
  text-align: center;
  border: $vs solid;

  &:hover,
  &:focus {
    @include _animate-hover;
  }
  + .focus-link-option {
    margin-top: 4*$vs;
  }
  .lt-ie9 & {
    width: 90%;
  }
}


.t-build .focus-link-option {
  &:link,
  &:active,
  &:visited {
    color: $red-roughy;
    border-color: $red-roughy;
  }
  &:hover,
  &:focus {
    color: $white;
    background-color: $red-roughy
  }
}


.t-hire .focus-link-option {
  &:link,
  &:active,
  &:visited {
    color: $green-half-baked;
    border-color: $green-half-baked;
  }
  &:hover,
  &:focus {
    color: $white;
    background-color: $green-half-baked
  }
}


.t-buy .focus-link-option {
  &:link,
  &:active,
  &:visited {
    color: $green-cucumber;
    border-color: $green-cucumber;
  }
  &:hover,
  &:focus {
    color: $white;
    background-color: $green-cucumber
  }
}



.about-local {
  padding-top: 8*$vs;
  padding-bottom: 8*$vs;
  background: $grey-ebb;

  @include breakpoint($bp-1) {
    padding-top: 16*$vs;
    padding-bottom: 16*$vs;
  }
}


.lt-ie9 .about-local {
  float: left;
  width: 100%;
}


.about-local {
  font-size: $fz-deca;
  line-height: $lh-thin;
}

.about-local-heading {
  margin-bottom: .5em;
  font-size: $fz-hecto;
}


.about-local-content {
  @include _cms;

  max-width: 90%;
  margin-bottom: 1em;
  font-weight: $fw-gentona-medium;
  color: $blue-rhino;
}

.lt-ie9 .about-local-content {
  float: left;
  width: 90%;
}


.about-local-link {
  &:link,
  &:active,
  &:visited {
    @include _animate;

    display: inline-block;
    padding: 3*$vs 3*$vs 3*$vs;
    margin: 0;
    font-family: $heading-font-family;
    font-size: $fz-deca;
    font-weight: $fw-quadon-eb;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: $blue-cornflower;
    border: $vs solid ;
  }
  &:hover,
  &:focus {
    @include _animate-hover;

    color: $blue-rhino;
  }
}





// .t-buy {
//   color: $green-cucumber;
// }





// Blocal
//

//
// Blocal Brand
.blocal-brand {
  overflow: hidden;
  width: 301px;
  height: 301px;
  margin: 0 auto;
  background: url('../images/blocal-logo.png') center center no-repeat;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 150%;
  }
}

.blocal-brand--interior {
    @include breakpoint($bp-1) {
        float: left;
    }
}





.blocal-intro {
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 24px;

  @include breakpoint($bp-1) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.blocal-intro__heading,
.blocal-intro__lead {
  font-family: $heading-font-family;
  font-size: $fz-mega;
  font-weight: $fw-quadon-b;
  line-height: $lh-base;
  color: $white;
}


.blocal-intro__lead {
  font-family: $default-font-family;
  font-size: $fz-hecto;
  font-weight: $fw-gentona-medium;
}

.blocal-intro__attach {
    @include breakpoint( $bp-1) {
        float: left;

    }
}

.blocal-intro__body {
    @include breakpoint($bp-1) {
        padding-top: 88px;
        margin-right: 6.32%;
    }
}


.success-story {
    position: relative;

    @include breakpoint($bp-1) {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.success-story__left,
.success-story__right {
    display: table-cell;
    width: 50%;
    background-color: $yellow-supernova;
}


.success-story__attach {
    @include breakpoint($bp-1) {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 60%;
    }
}

.success-story__src {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}


.success-story__body {
    padding: 20px 24px 24px;
    color: $blue-rhino;
}

.success-story__body .block-media-link {
    &:link,
    &:active,
    &:visited {
        color: $blue-rhino;
    }
    &:hover,
    &:focus {
        color: $blue-curious;
    }
}

.success-story__body .block-media-type {
    font-family: $default-font-family;
}

.success-story__body .block-media-heading-blocal {
    font-family: $heading-font-family;
    font-size: $fz-dec;
}

.success-story__content {
    @include _cms;

    @include breakpoint($bp-1) {
        width: 75%;
    }

    .success-story__more {
        &:link,
        &:active,
        &:visited {
            text-decoration: none;
        }
    }
}

.success-story__more {
    &:link,
    &:active,
    &:visited {
      @include _animate;

      display: inline-block;
      padding: 3*$vs 3*$vs 3*$vs;
      margin: 0;
      font-family: $heading-font-family;
      font-size: $fz;
      font-weight: $fw-quadon-b;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      color: $blue-cornflower;
      border: $vs solid $white;
    }
    &:hover,
    &:focus {
      @include _animate-hover;

      color: $blue-rhino;
    }
}


.partners {
        margin-top: 24px;
        margin-bottom: 24px;

    @include breakpoint($bp-1) {
        margin-top: 54px;
        margin-bottom: 72px;
    }
}

.partners__header {
    margin-bottom: $vs*4;
    font-size: $fz-dec;
    color: $blue-rhino;
}

.partners__heading {
    font-family: $heading-font-family;
    font-size: $fz-kilo;
    font-weight: $fw-quadon-b;
    line-height: $lh-thin;
    color: $blue-rhino;
}


.partners__list {
    font-size: 0;
    line-height: 0;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.partner-item {
    display: block;
    position: relative;
    border-top: 1px solid $blue-rhino;

    @include breakpoint($bp-1) {
        display: inline-block;
        width: 24%;
        margin-top: 0;
        margin-bottom: $vs*3;
        font-size: $fz;
    }
}

.partner-item--placeholder {
    @include breakpoint($bp-1) {
        display: inline-block;
        width: 23%;
    }
}

.partner-item + .partner-item {
    margin-top: $vs*3;

    @include breakpoint($bp-1) {
        margin-top: 0;
    }
}

.partner-item__link {
    @include _animate;

    display: block;
    position: relative;
    height: 0;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;

    &:hover,
    &:focus {
        .partner-item__more {
            opacity: 1;
        }
    }
}

.partner-item__more {
    @include _animate;

    opacity: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba( $blue-rhino, .9);
    }
    &:after {
        content: 'Learn More';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: $vs*4 $vs*2;
        color: $white;
        border: 2px solid $white;
        transform: translate3d(-50%, -50%, 0);
    }
}

.partner-panel {
    @include _animate;

    position: fixed;
    // z-index: $z-modal;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba( $blue-rhino, .9 );
}

[data-panel-active] .partner-panel {
    z-index: $z-modal;
    opacity: 1;
}


.partner-panel__body {
    overflow: hidden;
    border-top: 16px solid $yellow-supernova;
    background: $white;

    @include breakpoint($bp-1) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 33%;
        padding: 48px 60px;
        box-shadow: -2px 0 6px rgba( $black, .4 );
    }
}

.partner-panel__body .column {
    @include breakpoint($bp-1) {
        float: left;
    }
}

.partner-panel__body .column-left {
    @include breakpoint($bp-1) {
        width: 35%
    }
}

.partner-panel__body .column-right {
    @include breakpoint($bp-1) {
        float: right;
        width: 55%;
    }
}

.partner-panel__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: $vs*3;
}

.partner-panel__details {
    @include _cms;

    a:link,
    a:active,
    a:visited {
        font-weight: $fw-gentona-bold;
        color: $blue-curious;
    }
    a:hover,
    a:focus {
        color: $blue-rhino;
    }
}

.partner-panel__heading {
    margin-bottom: $vs*3;
    font-family: $heading-font-family;
    font-size: $fz-deca;
    font-weight: $fw-quadon-b;
    color: $blue-rhino;
}

.partner-panel__commitment {
    margin-bottom: $vs*6;
}

.partner-commitment__heading {
    font-family: $heading-font-family;
    font-size: $fz-dec;
    font-weight: $fw-quadon-b;

}

.partner-commitment__heading--Build {
    color: $red-roughy;
}

.partner-commitment__heading--Hire {
    color: $green-half-baked;
}

.partner-commitment__heading--Buy {
    color: $green-cucumber;
}


.main-content {
    @include breakpoint($bp-1) {
        margin-right: 6.32%;
        margin-left: 6.32%;
    }
}
